<div class="page-title">
  <h4>Категории</h4>
  <button
    type="button"
    (click)="joinExperiment()"
    class="waves-effect waves-light btn blue lighten-2 mr1">
    <i class="material-icons left">backup</i>
    Поучаствовать в эксперименте
  </button>

  <button
    class="waves-effect waves-light btn grey darken-1"
    routerLink="/categories/new"
  >Добавить категорию</button>
</div>

<div class="row" *ngIf="(categories$ | async) as categories">
  <ng-container *ngTemplateOutlet="grid; context: { categories: categories }"></ng-container>
  {{isExperiment$ | async}}
  <div class="col s12" *ngIf="!(isExperiment$ | async); else grid">
    <div class="collection" *ngIf="categories.length; else empty">
      <a
        *ngFor="let cat of categories"
        [routerLink]="['/categories', cat._id]"
        class="collection-item"
      >{{ cat.name }}</a>
    </div>
  </div>
</div>

<ng-template #grid let-categories="categories">
  <div class="d-flex" *ngIf="isExperiment$ | async">
    <div [routerLink]="['/categories', cat._id]" class="custom-collection-item mr1" *ngFor="let cat of categories">
      <a>{{ cat.name }}</a>
    </div>
  </div>
</ng-template>


<ng-template #empty>
  <div class="center">
    У вас нет категорий
  </div>
</ng-template>

<app-loader *ngIf="isLoading$ | async"></app-loader>
